@use '../variables';

.checkbox {
    width: 9.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    background: variables.$background-color;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    input {
        cursor: pointer;
    }
}
